#map { 
    height: 100vh;
    /* background-color: white; */
 }
/* fixed position bottom left */
.coordinateDisplay {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    border-radius: 5px;
    margin: 20px;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1000;
}
.coordinateDisplay #dimensionType {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}
.coordinateDisplay #dimensionType option {
    font-weight: normal;
}

.coordinateDisplay #dimensionType:focus {
    outline: none;
}
